<div class="row black white-text">
<a href="#" class="col s7  push-s  1 left test">Conocenos</a>
<div class="col s-5 m4 l2 right">
    <img src="../../../assets/Icons/fb.png" class="Icons">
    <img src="../../../assets/Icons/insta.webp" class="Icons">
    <img src="../../../assets/Icons/twitter .png" class="Icons">
</div>
</div>
<div>
    <nav>
        <div class="nav-wrapper row">
          <a href="#!" class="brand-logo col l2 push l1 valigh wrapper">
              <img src="../../../assets/Resources/difer.webp" id="logo">
          </a>
          <div class="col l6">
            <div class="row">
              <div class="input-field col s12">
                <div class="col l9">
                    <input id="search" type="search">
                <div>
                  <input id="input_text" type="text" data leght="10">
                </div>
                <div>
                  <img src="../../../assets/Icons/buscar.png">
                </div>
                <i class="material-icons prefix">textsms</i>
                <input type="text" id="autocomplete-input" class="autocomplete">
                <img src="../../../assets/Icons/buscar.png" class="icons right">
              </div>
            </div>
          </div>
          <ul id="nav-movile" class="right hide-on-med-and-down col l5 right pull-l1">
            <li><a href="#" class="valign-wrapper"><img src="../../../assets/Icons/product icon.png">productos</a></li>
            <li><a href="#" class="valign-wrapper"><img src="../../../assets/Icons/product favorite icon.ong">populares</a></li>
            <li><a href="#" class="valign-wrapper"><img src="../../../assets/Icons/product icon.png">cotizacion </a></li>
          </ul>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
        <ul class="sidenav" id="mobile-demo">
          <li><a href="sass.html">Productos</a></li>
          <li><a href="badges.html"></a>PopularesComponents</a></li>
          <li><a href="collapsible.html">cotizacion</a></li>

        </ul>
                
      
      </nav>
</div>
        

