<div class="carousel carousel slider">
    <a class="carousel-item" href="#one!"><img src="assets/Resources/banner 1.webp"></a>
    <a class="carousel-item" href="#two!"><img src="assets/Resources/banner 2.jpeg"></a>
    <a class="carousel-item" href="#three!"><img src="assets/Resources/banner 3.jpeg"></a>
    </div>
    <div class="row">
    <div class=" center-align col l8 push-l2">
        <h5>si tienes un negocio de papeleria o miscelanea</h5>
        <h5>preguntas por nuestras promociones</h5>
        <a class="btn large">productos en promociones</a>
        
    </div>
    </div>
      
